# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = mops_crawler.settings

[deploy:crawler_service]
url = http://0.0.0.0:6800/
project = mops_crawler
version = 99a53814bfbdf770b4036b52473ee1f942f79a15